
::selection {
    
    background: #e25e75;
}

body {
  margin-top: 70px;
  background-color: #e9edef;
}

p {
  font-family: 'Open Sans';
  font-size: 16px;
}

a {
  font-family: 'Open Sans';
  font-size: 16px;
}

h1 {
  font-family: 'Catamaran';
}

ul a {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
  /* unvisited link */
ul a:link {
  font-family: 'Oswald';
    color: red;
}

/* visited link */
ul a:visited {
  font-family: 'Oswald';
    color: green;
}

/* mouse over link */
ul a:hover {
  font-family: 'Oswald';
    color: hotpink;
}

/* selected link */
ul a:active {
  font-family: 'Oswald';
    color: blue;

}

.active {
  border-bottom: 2px solid #333;
  text-decoration: none;
}



/*NAV*/

.sitename {
  vertical-align: middle;
  font-family: 'Catamaran';
  font-size: 24px;
  font-weight: bold;
}

.statement p {
  vertical-align: middle;
  font-family: 'Catamaran';
  margin: 0px;
}

.custom ul {
  text-align: right;
  margin-bottom: 50px;
}


.custom ul li{
  vertical-align: middle;
  font-family: 'Catamaran';
  font-size: 24px;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}


/*CONTENT*/


/*BOX template*/

.holder-container {
  margin-top: 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.holder {
  width:100%;
  height:100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 2px;
  border: 1px solid;
  border-color: #d1d5d7;
  background-color: #fff;
}

.logo img {
  margin-right: 60px;
  margin-left: 40px;
  float: left;
  width: 300px;
}

.description p {
  margin-top: 15px;
}

.social img {
  margin-right: 10px;
  margin-top: 15px;
  width: 30px;
  height: 30px;
}

.empty {
  clear: both;
}

/*----TEMPLATE FINISH-----*/



/*DESKTOP*/

@media screen and (max-width: 1200px) {
  .custom ul li{
  vertical-align: middle;
  font-family: 'Catamaran';
  
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

ul a {
  font-family: 'Catamaran';
  font-size: 16px;
}

  }


/*TABLET*/
@media screen and (max-width: 992px) {

  .custom ul {
    text-align: center;
    -webkit-padding-start: 0px;
}

  .statement p {
    text-align: center;
}

  .sitename {
    text-align: center;
}

  .custom ul li{
  vertical-align: middle;
  font-family: 'Catamaran';
  display: inline;
  margin-left: 3px;
  margin-right: 3px;
}

  .holder {
  width:100%;
  height:100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 2px;
  border: 1px solid;
  border-color: #d1d5d7;
  background-color: #fff;
}

.logo img {
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 230px;
}

.logo {
  text-align: center;
}

.description {
  text-align: center;
}

.empty {
  clear: both;
}

.social {
  text-align: center;
}

ul a {
  font-family: 'Catamaran';
  font-size: 20px;
}

ul {
  margin-top: 15px;
}



}

/*MOBILE*/
/*@media screen and (max-width: 600px) {



  .custom ul li{
  vertical-align: middle;
  font-family: 'Catamaran';
  font-size: 18px;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
}*/


